@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

button.normal{
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
  padding: 15px 30px;
  color: #222222;
  background-color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}

button.white{
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: #ffffff;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #ffffff;
  outline: none;
  transition: 0.2s;
}

body {
  width: 100%;
}


#header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
  background: #222222;
  box-shadow: 0 5px 15px rgba(81, 81, 81, 0.579);
  z-index: 999;
  position: sticky;
  top: 0;
  left:0;
}

#navbar{
  display: flex;
  align-items: center;
  justify-content: center;

}

#navbar li{
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #7f7f7f;
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active{
  color: #3f65ef;
}

#navbar li a.active::after,
#navbar li a:hover::after{
  content: "";
  width: 30%;
  height: 2px;
  background: #3f65ef;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#mobile{
  display: none;
  align-items: center;
}

#mobile i{
  color: #222222;
  font-size: 24px;
}

#close{
  display: none;
}


#hero{
  background-image:url(Assets/Banner/bg.jpg);
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 10% right 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

}

#hero h4{
  padding-bottom:  20px;
} 

#hero h1{
  color: rgb(205, 189, 84);
}

#hero h2{
  padding-bottom:  5px;
}

#hero h2,h4,p{
  color: rgb(200, 200, 200);
}
#hero p{
  color: #bcb7b7;
}

#hero button{
  background-image: url("Assets/Button.png");
  background-color: transparent;
  color: #b3b3b3;
  border: 0;
  cursor: pointer;
  padding: 14px 80px 19px 65px;
}

#feature{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#feature img{
  width: 100%;
  border-radius: 30px;

}

#feature .fe-box{
  width: 200px;
  box-shadow: 20px 20px 34px rgba(179, 179, 179, 0.671);
  border: 1px solid rgb(245, 245, 245);
  border-radius: 35px;
  padding: 4px;
  margin: 15px 0;
}

#feature .fe-box:hover{
  box-shadow: 20px 20px 48px rgb(230, 230, 230);

}

#product1{
  text-align: center;
}

#product1 .pro{
  width: 23%;
  min-width: 200px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px #7474744a;
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}

#product1 .pro:hover{
  box-shadow: 20px 20px 30px #747474c5;

}

#product1 .pro img{
  width: 100%;
  border-radius: 20px;
}

#product1 .pro .des{
  text-align: start;
  padding: 10px 0;
}

#product1 .pro .des span{
  color: #606066;
  font-size: 13px;
}

#product1 .pro .des h5{
  padding-top: 7px;
  font-size: 14px;
  color: #222;
}

#product1 .pro .des i{
  font-size: 12px;
  color: #d2ba56;
}

#product1 .pro .des h4{
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #3a3f51;
}



/* Cart Icon Product Card */
#product1 .pro a img{
  width: 37px;
  height: 37px;
  line-height: 40px;
  border-radius: 20px;
  background-color: #9dbfa93a;
  font-weight: 500;
  color: #f2f2f2;
  border: 1px solid;
  position: absolute;
  bottom: 20px;
  right: 20px;

}

#product1 .pro-container{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}


#banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(Assets/Banner/Banner.png);
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-position:top ;
  
}

#banner h4{
  color: wheat;
  font-size: 16px;
  padding: 15px 0;
}

#banner h2 span{
  color: rgb(195, 59, 59);
}

#banner button:hover{
  background-color: rgb(57, 154, 122);
  color: white;
}

#sm-banner{
  display: flex;
  justify-content: space-between;
  
}

#sm-banner .banner-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url(Assets/Banner/B_2.png );
  width: 580px;
  height: 50vh;
  background-size: cover;
  background-position:center ;
  padding: 30px;
}

#sm-banner .banner-box2{
  background-image: url(Assets/Banner/B_1.png);
}

#sm-banner h4{
  color: #2c2c2c;
  font-size: 20px;
  font-weight: 300;
}
#sm-banner h2{
  color: #2c2c2c;
  font-size: 28px;
  font-weight: 800;
}
#sm-banner span{
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;padding-bottom: 15px;
}

#sm-banner .banner-box2 h4{
  color: #ffffff;
  font-size: 20px;
  font-weight: 300;
}
#sm-banner .banner-box2 h2{
  color: #ffffff;
  font-size: 28px;
  font-weight: 800;
}
#sm-banner .banner-box2 span{
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;padding-bottom: 15px;
}


#sm-banner .banner-box:hover button{
  background-color:rgb(57, 154, 122);
  border: 1px solid rgb(57, 154, 122);
}


#product1 .ppp{
  color: #222;
}

#banner3{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 80px;
}

#banner3 .banner-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url(Assets/Banner/b7.jpg );
  width: 30%;
  height: 30vh;
  background-size: cover;
  background-position:center ;
  padding: 20px;
  margin-bottom: 20px;
}

#banner3 .banner-box2{
  background-image: url(Assets/Banner/B_3.png );
}
#banner3 .banner-box3{
  background-image: url(Assets/Banner/b10.jpg );
}

#banner3 h2{
  color: white;
  font-weight: 900;
  font-size: 22px;
}
#banner3 h3{
  color: rgb(161, 71, 71);
  font-weight: 800;
  font-size: 15px;
}
footer .col h4,p{
  color: #292929ea;
}

footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .col{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer .logo{
  margin-bottom: 15px;
}

footer h4{
  font-size: 14px;
  padding-bottom: 20px;
}

footer p{
  font-size: 13px;
  margin: 0 0 8px 0;
}

footer a{
  font-size: 13px;
  text-decoration: none;
  color: #222222;
  margin-bottom: 10px;
}

footer .follow{
  color: #606066;
  padding-right: 4px;
  cursor: pointer;
}

footer .follow i:hover,
footer a:hover{
  color: #3f65ef;
}

footer .copywrite{
  width: 100%;
  text-align: center;
}



/* Window Size */

@media (max-width:799px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
   height: 100vh;
   width: 300px;
   background-color: #313131f0;
   box-shadow: 0 40px 60px #646464a1;
   padding: 80px 0 0 10px;
   transition: 0.3s ease;
  }

  #navbar li{
    margin-bottom:20px;
  }

  #navbar.active{
    right: 0px;
  }

  #mobile{
    display: flex;
    align-items: center;
  }

  #mobile i{
    color: #a6a6a6;
    font-size: 24px;
    padding-left: 20px;
  }

  #close{
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
    color: #c4c4c4;
    font-size: 24px;
  }

  #hero{
    height: 95vh;
    padding: 0 18px;
    padding-top: 400px;
    background-position: top 30% right 30%;
  }

  #feature {
    justify-content: center;  
  }

  #feature .fe-box{
    margin: 15px 15px;
  }

  #product1 .pro-container {
    justify-content: center;
  }

  #product1 .pro {
    margin: 35px ;
  }

  #banner {
    width: 100%;
    height: 50vh;
    background-position: top 0 left 25%;
  }

  #sm-banner{
    display: flex;
    flex-wrap: wrap;
  } 
  
  #sm-banner .banner-box{
    min-width: 100%;
    height: 30vh;
  }

  #banner3 .banner-box{
    width: 30%;
  }
}



/* Shop list */

.shopbg{
  background-image: url(Assets/Banner/bghome.jpg);
  background-size: cover;
  width: 100%;
}

#page-header{
  background-image: url(Assets/Banner/shopbantint.png);
  width: 100%;
  background-size: cover;  
  height: 40vh;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
}

#page-header h2,
#page-header p{
  color: white;
}

#pagination{
  text-align: center;
}

#pagination a{
  text-decoration: none;
  background-color: rgb(57, 154, 122);
  padding: 15px 20px;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 600;
}

#pagination a i{
  font-size: 16px;
  font-weight: 600;
}


/*  Single Product  */

#prodetails{
  display: flex;
  margin-top: 20px;
}

#prodetails .single-pro-image{
  width: 40%;
  margin-right: 50px;
}

.small-img-group{
  display: flex;
  justify-content: space-between;
}

.small-img-col{
  flex-basis: 24%;
  cursor: pointer;
}

#prodetails .single-pro-details{
  width: 50%;
  padding-top: 30px;
}

#prodetails .single-pro-details h4{
  padding: 40px 0 20px 0;
  color: #222;
}

#prodetails .single-pro-details h2{
  font-size: 20px;
  color: #222 ;
}

#prodetails .single-pro-details select{
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}

#prodetails .single-pro-details input{
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}
#prodetails .single-pro-details input:focus{
  outline: none;
}

#prodetails .single-pro-details button{
  background: rgb(57, 154, 122);
  color: #ffffff;
}

#prodetails .single-pro-details span{
  line-height: 25px;
}



/* Blog Page */

#page-header-blog{
  background-image: url(Assets/Blog/blog1.jpg);
  width: 100%;
  background-size: cover;  
  height: 40vh;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
}

#page-header-blog h2{
  color: rgb(93, 99, 115);
}

#page-header-blog p{
  color: rgb(93, 99, 115);
  font-weight: 500;
}

#blog{
  padding: 150px 150px 0 150px;
}

#blog .blog-box{
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  padding-bottom: 130px;
}

#blog .blog-img{
  width: 100%;
  margin-right: 10px;
}

#blog img{
  width: 70%;
  height: 500px;
  object-fit: cover;
}
#blog .blog-img{
  width: 90%;
  margin-right: -180px;
}

#blog .blog-details{
  width: 70%;
}

#blog .blog-details a{
  text-decoration: none;
  font-size: 11px;
  color: #222222;
  font-weight: 700;
  position: relative;
}

#blog .blog-details a::after{
  content: "";
  width: 50px;
  height: 1px;
  background-color:black ;
  position: absolute;
  top: 4px;
  right: -60px;
}

#blog .blog-details a:hover{
  color: #3f715b;
  transition: 0.3s;
}

#blog .blog-details a:hover::after{
  background-color: #3f715b;
}

#blog .blog-box h1{
  position: absolute;
  top: -40px;
  left: 0;
  font-size: 70px;
  font-weight: 700;
  color: #606066;
  z-index: -10;
}


/* About Page */

#page-header-about{
  background-image: url(Assets/About/about.jpg);
  width: 100%;
  background-size: cover;  
  height: 40vh;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
}

#page-header-about h2,
#page-header-about p{
  color: rgb(223, 223, 223);
}

#about-head{
  display: flex;
  align-items: center;
}

#about-head img{
  width: 50%;
  height: auto;
}

#about-head div{
  padding-left: 40px;
}

#about-app{
  text-align: center;
}

#about-app .video{
  width: 90%;
  height: 100%;
  margin: 30px auto 0 auto;
}

#about-app .video video{
  width: 100%;
  height: 100%;
  border-radius: 30px;
}


/* Contact Us Page */

#page-header-contact{
  background-image: url(Assets/Banner/b2.jpg);
  width: 100%;
  background-size: cover;  
  height: 40vh;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
}

#page-header-contact h2,
#page-header-contact p{
  color: rgb(223, 223, 223);
}

#contact-details{
  display: flex;  
  align-items: center;
  justify-content: space-between;
}

#contact-details .details{
  width: 40%;
}

#contact-details .details span,
#form-details form{
  font-size: 12px;
}

#contact-details .details h2,
#form-details form h2{
  font-size: 25px;
  line-height: 35px;
  padding: 20px 0;
}

#contact-details .details h3{
  font-size: 16px;
  padding-bottom: 15px;
}

#contact-details .details li{
  list-style: none;
  display: flex;
  padding: 10px 0;
}

#contact-details .details li{
  font-size: 14px;
  padding-right: 22px;
}
#contact-details .details li p{
  margin: 0;
  padding-left: 16px;
  font-size: 14px;
}

#contact-details .map{
  width: 55%;
  height: 400px;
  border: 2px solid;
  border-radius: 20px;
  border-color: #1d1d1d8f;
}

#contact-details .map iframe{
  width: 100%;
  height: 100%;
  border-radius: 20px;

}

#form-details{
  display: flex;
  justify-content: space-between;
  margin: 30px;
  padding: 80px;
  border: 1px solid #e6e6e6;
}

#form-details form{
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#form-details form input,
#form-details form textarea{
  width: 100%;
  padding: 12px 15px;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid #a6a6a6;
}

#form-details form button{
  background-color: #33644f;
  color: whitesmoke;
}


/* Cart Page */

#cart table{
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
}

#cart table img{
  width: 70px;
}

#cart table td:nth-child(1){
  width: 100px;
  text-align: center;
}

#cart table td:nth-child(2){
  width: 150px;
  text-align: center;
}
#cart table td:nth-child(3){
  width: 250px;
  text-align: center;
}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
  width: 150px;
  text-align: center;
}

#cart table td:nth-child(5) input{
  width: 70px;
  padding: 10px 5px 10px 15px;
}

#cart table thead{
  border: 1px solid #676767a7;
  border-left: none;
  border-right: none;
}

#cart table thead td{
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  padding: 18px 0;
}

#cart table tbody tr td{
  padding-top: 15px;
}

#cart table tbody tr td img{
  border-radius: 8px;
}

#cart table tbody td{
  font-size: 13px;
}


#cart-add{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#coupon{
  width: 50%;
  margin-bottom: 30px;
}

#coupon h3,
#sub-total h3,
#sub-total table td{
  padding-bottom: 15px;
}

#coupon input{
  padding-bottom: 10px 20px;
  outline: none;
  width: 60%;
  height: 40px;
  margin-right: 10px;
  border: 1px solid #58595bd3;
}

#coupon button,
#sub-total button{
  background-color: #3f8868;
  color: #c4c4c4 ;
  padding: 12px 20px;
}

#sub-total{
  width: 50%;
  margin-bottom: 30px;
  border: 1px solid #606066;
  padding: 30px;
}

#sub-total table{
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

#sub-total table td{
  width: 50%;
  margin-bottom: 10px;
  font-size: 13px;
  border: 1px solid #464646bd;
  padding: 10px;
}